//- mixin name(attributes)

//- Primary section
//- Parchment background, optional title
mixin section(title)
  section.block.noctis-section
    if title
      h3.title.noctis-section-title= title
    if block
      .noctis-section-body
      block

mixin attribute_text(attr, label)
  .noctis-attribute.has-text-centered
    if label
      label= label
    div
      input.input.attribute-text(type="text" name=attr)&attributes(attributes)
      if block
        block

mixin attribute_textarea(attr, label)
  .noctis-attribute.has-text-centered
    if label
      label= label
    div
      textarea.textarea(name=attr)&attributes(attributes)
      if block
        block

//- A numeric input with a label
//- "attr" is the full attribute name, e.g "attr_vigor"
mixin attribute_numeric(attr, label)
  .noctis-attribute.has-text-centered
    if label
      label= label
    div
      input.input.attribute-numeric(type="number" name=attr)&attributes(attributes)
      if block
        block

mixin attribute_numeric_max(attr, label)
  .noctis-attribute.has-text-centered
    if label
      label= label
    div
      input.input.attribute-numeric(type="number" name=attr)&attributes(attributes)
      span= " / "
      input.input.attribute-numeric(type="number" name=`${attr}_max` readonly="true")
      if block
        block

mixin attribute_checkbox(attr, label)
  .noctis-attribute.has-text-centered
    if label
      label= label
    div
      input.input.attribute-checkbox(type="checkbox" name=attr)&attributes(attributes)
      if block
        block
